/* Search Bar starts */
.search-form {
  margin: 10px 5px;
  font: normal 12px sans-serif;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: inherit;
  text-decoration: none;
}
.search-form:hover,.search-form:link{
  color: inherit;
  text-decoration: none;
}

.search-form div.input-group-addon {
  background: #fff;
  color: #80A3BD;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border: 1px solid #b6c3cd;
  border-right: 0;
}

.search-form .input-group input {
  background-color: #ffffff;
  box-shadow: none;
  color: #4E565C;
  outline: none;
  border: 1px solid #b6c3cd;
  border-right: 0;
  border-left: 0;
}

.search-form div.input-group-btn button {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background: #6caee0;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  border-color: #6caee0;
  outline: none;
  opacity: 0.9;
}

.search-form div.input-group-btn button:hover {
  opacity: 1;
}

.search-form div.input-group-btn button:focus:active {
  background-color: #6caee0;
  color: #ffffff;
  outline: none;
}

/* Search Bar ends */
.logo{
  background-color: yellow;
  color:black;
  border-radius: 0.5rem;
  padding:0 0.5rem;
}
.logo:hover{
  background-color: rgb(112, 112, 112);
  color:yellow;
}
body{
  background-color: rgb(26, 26, 26);
  color: white;
}
.card{
  transition: 0.5s;
  box-shadow: 0px 0px 90px -50px rgba(255, 51, 0, 0.5);
}
.card:hover{
  box-shadow: 0px 0px 50px -15px rgba(255, 51, 0, 0.5);
  transform: scale(1.05);
  transition: 0.5s;
}
.rating{
  background-color: rgb(112, 112, 112);
  border: 1px solid white;
  border-radius: 0.2rem;
  margin-top: 2px;
  padding:0px 2px;
  color:yellow;
  width:28px;
  text-align: center;
}